<div class='banners'>
  <div class='spacer5 hidden-xs hidden-sm'></div>
  <div class='container'>
    <div class='row'>
      <div class='col-md-6 text-center col-md-offset-3'>
        <h3>You are being redirected to your application</h3>
        <img src="/assets/mno_enterprise/main-logo-whitebg-4cf40268c06858f2e230bd00613b1aedad5ffca48696e383239cd4e8c9f9eff5.png" alt="Main logo whitebg" />
        <div class='spacer1'></div>
        <hr>
        <img src="/assets/mno_enterprise/loader-32x32-bg-inverse-a669563b517ef52c33b4a00992719d4d91e87a09e438e2e0d23cf82dfca71c14.gif" alt="Loader 32x32 bg inverse" />
      <hr>
      </div>
    </div>
  </div>
</div>
